@import '../../../../styles/theme';
@import '../../../../styles/form';

.submit-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  .submit {
    @include button;
    @include button-active;
    &:disabled {
      @include button-inactive;
    }
  }
}