@import '../../../../styles/theme';
@import '../../../../styles/form';

.textinput-holder {
  padding: 10px 0;
}
.text-input {
  padding: 5px 10px;
  border: 1px solid $pri-lt;
  border-radius: 3px;
  &:placeholder {
    color: $pri-lt;
  }
  &:focus {
    outline: none;
    border-color: $sec;
  }
}
