$pri: #4d4dff;
$pri-dk: #3655b3;
$pri-lt: #d3deff;

$sec: #ffb84d;
$sec-dk: #b38136;
$sec-lt: #ffebcc;

$wht: white;
$dkg: #333;
$text: #555;
$ltg: #ddd;

$epi: 'Epilogue', sans-serif;
$mono: 'IBM Plex Mono', monospace;
$sans: 'IBM Plex Sans', sans-serif;


