$pri: #4d4dff;
$pri-dk: #3655b3;
$pri-lt: #d3deff;

$sec: #ffb84d;
$sec-dk: #b38136;
$sec-lt: #ffebcc;

$wht: white;
$dkg: #333;
$text: #555;
$ltg: #ddd;

$err: #FF9494;

$epi: 'Epilogue', sans-serif;
$mono: 'IBM Plex Mono', monospace;
$sans: 'IBM Plex Sans', sans-serif;

body, input, button, p, div {
  font-family: $sans;
  box-sizing: border-box;
}


@mixin mobile-down {
  @media screen and (max-width: 599px) { @content; }
}
@mixin tabletportrait-up {
  @media screen and (min-width: 600px) { @content; }
}
@mixin tabletportrait-down {
  @media screen and (max-width: 899px) { @content };
}
@mixin tabletlandscape-up {
  @media screen and (min-width: 900px) { @content; }
}
@mixin tabletlandscape-down {
  @media screen and (max-width: 1199px) { @content; }
}
@mixin desktop-up {
  @media screen and (min-width: 1200px) { @content; }
}
@mixin big-desktop-up {
  @media screen and (min-width: 1800px) { @content; }
}


// various mixins;
@mixin button {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
}

@mixin button-active {
  background-color: $pri;
  color: $pri-lt;
  cursor: pointer;
  &:hover, &:focus {
    background-color: lighten($pri, 3);
  }
}


@mixin button-inactive {
  background-color: $pri-lt;
  color: $pri;
  cursor: not-allowed;
}

