@import '../../../styles/theme';

.view-container {
  display: flex;
  flex-direction: row;
  @include tabletportrait-down {
    flex-direction: column;
  }
  &.fullscreen {
    min-width: 100vw;
    min-height: 100vh;
  }
  &.mostscreen {
    flex-grow: 1;
  }
}
