@import '../../../styles/theme';

.sidepanel {
  flex-grow: 1;
  background-color: $pri;
  padding: 15vw 0 0 8vw;
  box-sizing: border-box;
  @include tabletlandscape-down {
    padding: 12vw 0 0 5vw;
  }
  h3 {
    color: darken($pri-dk, 20);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-family: $mono;
  }
  .splash-text {
    color: white;
    font-size: 4em;
    font-weight: bold;
    font-family: $epi;
    @include tabletportrait-down {
      font-size: 2em;
      padding: 50px 0 0 25px;
    }
    > span {
      display: block;
      .sec {
        color: $sec;
      }
    }
  }
}

